/****** General ***********/

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.0625rem;
}

/***** Header *****/

header {
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 60.9px;
  height: 19px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 26px;
}

.nav-list__items {
  margin-left: 30px;
}

.nav-list__links:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
  padding-top: 14px;
}

/***** Search Form *****/

.search-and-filter {
  padding: 1rem 0;
}

.search__text {
  margin-bottom: 2.5rem;
}

.search__text--title {
  margin-bottom: 0.5rem;
}

.search__form {
  margin-bottom: 2.5rem;
}

.search__form--form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search__form--map-icon {
  color: #000;
  background: var(--main-bg-color);
  padding: 0.9375rem 1.125rem;
  border-radius: 15px 0 0 15px;
  font-size: 1.125rem;
  border: 1px solid transparent;
}

.search__form--text-input {
  padding: 0.9375rem;
  border: 1px solid var(--main-bg-color);
  color: #000;
  font-weight: bold;
  margin-right: -0.4375rem;
}

.search__form--text-input:focus {
  outline: none;
}

.search__form--text-input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.search__form--text-input:focus::placeholder {
  color: transparent;
}

.search__form--button {
  background: var(--main-color);
  color: var(--main-bg-color);
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 0 15px 15px 0;
  padding: 0.9375rem;
}

.search__form--button-icon {
  display: none;
}

/***** Filters *****/

.filters__title {
  font-size: 1.125rem;
}

/***** End Filters *****/

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  /***** Header *****/

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
  }

  nav {
    width: 100%;
  }

  .nav-list {
    margin-bottom: 0;
  }

  .nav-list__items {
    width: 100%;
    display: flex;
    margin-left: 0;
  }

  .nav-list__links {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 1rem;
  }

  .nav-list__links:hover {
    border-bottom: 2px solid var(--main-color);
    border-top: none;
    padding-top: 0;
  }

  /***** Search Form *****/

  .search-and-filter {
    padding: 0 30px;
  }

  .search__form--form {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .search__form--text-input {
    width: 100%;
  }

  .search__form--button {
    padding: 0.9375rem;
    border-radius: 15px;
    margin-left: -7px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .search__form--button-icon {
    display: block;
    color: var(--main-bg-color);
  }

  .search__form--button-text {
    display: none;
  }
}
